In [1]:
#Integers

In [2]:
print("Hello World")

Hello World

In [3]:
print('Hello World')

Hello World

In [4]:
print("12")

12

In [5]:
print(12+10)

22

In [6]:
print(1,000,000)

1 0 0

In [7]:
#Float

In [8]:
print(1_000_000)

1000000

In [9]:
print(3.14159)

3.14159

In [10]:
#Boolean
True
False

False

In [11]:
print(type(12))

<class 'int'>

In [12]:
type("1")

str

In [13]:
print(type(True))

<class 'bool'>

In [14]:
print(type(False))

<class 'bool'>

In [15]:
# 18. Variables - Python Programming

In [16]:
yash = 123456789
print(yash)

123456789

In [17]:
yash = 123456789
message = "I am Learning Python"
n = 24
pi = 3.14159
print(pi)

3.14159

In [18]:
name = "Yash"
print(name)
name = "Siddhu"
print(name)
print(name)

Yash
Siddhu
Siddhu

In [19]:
1stname  = "Yash"

SyntaxError: invalid decimal literal (1456137275.py, line 1)

In [20]:
my_name = "Yash"
print(my_name)

Yash

In [21]:
myname = "Yash"
print(myname)

Yash

In [22]:
myName = "Yash"
myScoecondName = "Yashwant"

print(myScoecondName)

Yashwant

In [23]:
#Python programming language in 35 keywords

#False	await	else	import	pass
#None	break	except	in	raise
#True	class	finally	is	return
#and	continue	for	lambda	try
#as	def	from	nonlocal	while
#assert	del	global	not	with
#async	elif	if	or	yield

In [33]:
myName = "Yash"
class = "myName"

print "Yash"

SyntaxError: invalid syntax (2190710088.py, line 2)

In [25]:
a = 10
b = 20
# Your code here
print(a = 10)

TypeError: 'a' is an invalid keyword argument for print()

In [26]:
#Second commit

In [27]:
myName = "Yash"
class = "Yashwant"

print(myScoecondName)

SyntaxError: invalid syntax (3509332484.py, line 2)